/* questden colors */
body {
  background: #FFFFEE;
  max-width: 40em;
  margin: 1em auto;
}

section {
  background: #F0E0D6;
  color: #800000;
  padding: 1em;
  margin: 1rem auto;
}

img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

/* ms paint adventures */
h1, h2, .next {
  font-family: consolas, monospace, sans-serif;
  font-weight: bold;
}
h1 {
  text-align: center;
}
h2 {
  color: #CC1105;
}
.next {
  font-size: xx-large;
}

/* nav links are a bulleted list without the bullets */
nav ul {
	list-style: none;
	padding-left: 0;
}
nav li {
	display: inline;
}
nav li + li::before {
	content: ' | ';
}
